.login {
    display: inline-block;
    margin: 10px;
    align-items: center;
}
.item {
    padding: 5px;
    text-align: center;
}
.textField {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
}